@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: hsl(0, 0%, 100%);
}

.box {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 50px 40px;
    text-align: center;
    width: 300px; 
    height: 485px; 
    justify-content: space-between;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
}

h1 {
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    margin: 10px;
    font-weight: 700;
}

.local {
    font-size: 13px;
    color: hsl(75, 94%, 57%);
    height: 20px;
    margin: 0  0 20px;
    font-weight: 600;
}

.information {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    height: 15px;
    margin: 0 0 25px;
    font-weight: 400;
}

.button {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: auto;
}

.b0, .b1 {
    color: hsl(0, 0%, 100%);
    background-color: #333333;
    font-size: 13px;
    font-weight: 600;
    padding: 12px; 
    border-radius: 7px;
    text-decoration: none;
    width: 200px  200px; 
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.b1:hover, .b0:hover {
    background-color: hsl(75, 94%, 57%);
    color: #000;
}